@import url('latolatinfonts.css');

html {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1.5rem;
    color: rgb(100, 100, 100);
    font-size: 16px;
    font-family: 'LatoLatinWeb', serif;
    background: rgb(255,255,255);
    background-image: linear-gradient(to bottom, #1772cf 0, #1772cf 9rem, white 9rem, white);
    background-repeat: no-repeat;
}

header {
    background-color: #368ee8;
    background-image: radial-gradient(farthest-corner at 6rem 4rem, #4e95e0 0%, #368ee8 100%);
}

article {
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 0 0.5em #aaaaaa;
}

nav {
    padding: 0 2rem;
}

@media (min-width: 768px) {
    nav {
        padding: 0 5.8rem;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
}

nav li {
    display: inline;
    padding-right: 20px;
}

nav a {
    color: rgb(64, 196, 75);
    font-size: 1.3rem;
}

nav a:hover {
    color: rgb(47, 153, 56);
    text-decoration: none;
}

header nav ul {
    border-bottom: solid #92fbb6;
}

header nav a {
    color: #92fbb6;
    text-shadow: 0px 1px 1px #555;
}

header nav a:hover {
    color: rgb(64, 196, 75);
}

footer {
    text-align: center;
    border-top: dashed rgb(64, 196, 56) 1px;
    margin-top: 3rem;
}

footer nav {
    display: inline-block;
    font-style: italic;
    margin: 1rem 0;
}

article > section {
    margin: 0 2rem;
}

@media (min-width: 768px) {
    article > section {
        margin: 0 5.8rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1 {
    color: rgb(22, 115, 207);
    font-size: 3rem;
    font-family: "LatoLatinWebThin", sans-serif;
}

h2 {
    font-weight: normal;
}

a {
    color: rgb(45,144,233);
    font-weight: bold;
    transition: all 0.15s ease-out 0s;
    outline : none;
    text-decoration: none;
}

a:hover {
    color: rgb(23,113,207);
    text-decoration: underline;
}
